<app-titulo
  [titulo]="'Perfil'"
  [iconeTitulo]="'fas fa-address-card'"
></app-titulo>

<div>
  <div class="main-body">
    <form class="row" [formGroup]="formulario">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img
                src="https://bootdey.com/img/Content/avatar/avatar6.png"
                alt="Admin"
                class="rounded-circle p-1 bg-primary"
                width="110"
              />
              <div class="mt-3">
                <h4>José</h4>
                <p class="text-secondary mb-1">Full Stack Developer</p>
                <p class="text-muted font-size-sm">
                  Bay Area, San Francisco, CA
                </p>
              </div>
            </div>
            <hr class="my-4" />
            <ul class="list-group list-group-flush">
              <li
                class="
                  list-group-item
                  d-flex
                  justify-content-between
                  align-items-center
                "
              >
                <h6 class="mb-0"><i class="fab fa-instagram"></i>Instagram</h6>
                <span class="text-secondary">bootdey</span>
              </li>
              <li
                class="
                  list-group-item
                  d-flex
                  justify-content-between
                  align-items-center
                "
              >
                <h6 class="mb-0">
                  <i class="fab fa-facebook-square"></i>Facebook
                </h6>
                <span class="text-secondary">bootdey</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card bg-light">
          <div class="card-body">
            <div class="row mb-3 mt-3">
              <div class="col-sm-3 d-flex align-items-center">
                <h6 class="mb-0">Primeiro nome</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input
                  type="text"
                  class="form-control"
                  formControlName="primeiroNome"
                  [ngClass]="{
                    'is-invalid':
                      f.primeiroNome.errors && f.primeiroNome.touched
                  }"
                />
                <div
                  *ngIf="f.primeiroNome.errors?.required"
                  class="invalid-feedback"
                >
                  Primeiro nome é obrigatório
                </div>
                <div
                  *ngIf="f.primeiroNome.errors?.minlength"
                  class="invalid-feedback"
                >
                  Deve ter no mínimo 3 caracteres
                </div>
                <div
                  *ngIf="f.primeiroNome.errors?.maxlength"
                  class="invalid-feedback"
                >
                  Deve ter no máximo 10 caracteres
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3 d-flex align-items-center">
                <h6 class="mb-0">Último nome</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input
                  type="text"
                  class="form-control"
                  formControlName="ultimoNome"
                  [ngClass]="{
                    'is-invalid': f.ultimoNome.errors && f.ultimoNome.touched
                  }"
                />
                <div
                  *ngIf="f.ultimoNome.errors?.required"
                  class="invalid-feedback"
                >
                  Último nome é obrigatório
                </div>
                <div
                  *ngIf="f.ultimoNome.errors?.minlength"
                  class="invalid-feedback"
                >
                  Deve ter no mínimo 3 caracteres
                </div>
                <div
                  *ngIf="f.ultimoNome.errors?.maxlength"
                  class="invalid-feedback"
                >
                  Deve ter no máximo 10 caracteres
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3 d-flex align-items-center">
                <h6 class="mb-0">E-mail</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input
                  type="text"
                  class="form-control"
                  formControlName="email"
                  [ngClass]="{
                    'is-invalid': f.email.errors && f.email.touched
                  }"
                />
                <div *ngIf="f.email.errors?.required" class="invalid-feedback">
                  Email é obrigatório
                </div>
                <div *ngIf="f.email.errors?.email" class="invalid-feedback">
                  Deve ser um email válido
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3 d-flex align-items-center">
                <h6 class="mb-0">Nome de usuário</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input
                  type="text"
                  class="form-control"
                  formControlName="nomeUsuario"
                  [ngClass]="{
                    'is-invalid': f.nomeUsuario.errors && f.nomeUsuario.touched
                  }"
                />
                <div
                  *ngIf="f.nomeUsuario.errors?.required"
                  class="invalid-feedback"
                >
                  Nome de usuário é obrigatório
                </div>
                <div
                  *ngIf="f.nomeUsuario.errors?.minlength"
                  class="invalid-feedback"
                >
                  Deve ter no mínimo 5 caracteres
                </div>
                <div
                  *ngIf="f.nomeUsuario.errors?.maxlength"
                  class="invalid-feedback"
                >
                  Deve ter no máximo 10 caracteres
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3 d-flex align-items-center">
                <h6 class="mb-0">Senha</h6>
              </div>

              <div class="col d-flex justify-content-between">
                <div class="col-sm-5 me-2 text-secondary">
                  <input
                    type="password"
                    class="form-control text-center"
                    placeholder="Senha"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder ='Senha'"
                    formControlName="senha"
                    [ngClass]="{
                      'is-invalid': f.senha.errors && f.senha.touched
                    }"
                  />
                  <div
                    *ngIf="f.senha.errors?.required"
                    class="invalid-feedback"
                  >
                    Senha é obrigatório
                  </div>
                  <div
                    *ngIf="f.senha.errors?.minlength"
                    class="invalid-feedback"
                  >
                    Deve ter no mínimo 6 caracteres
                  </div>
                  <div
                    *ngIf="f.senha.errors?.maxlength"
                    class="invalid-feedback"
                  >
                    Deve ter no máximo 10 caracteres
                  </div>
                </div>
                <div class="col-sm-5 text-secondary">
                  <input
                    type="password"
                    class="form-control text-center"
                    placeholder="Confirmar senha"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder ='Confirmar senha'"
                    formControlName="confirmarSenha"
                    [ngClass]="{
                      'is-invalid':
                        f.confirmarSenha.errors && f.confirmarSenha.touched
                    }"
                  />
                  <div
                    *ngIf="f.confirmarSenha.errors?.required"
                    class="invalid-feedback"
                  >
                    Confirmar senha é obrigatório
                  </div>
                  <div
                    *ngIf="f.confirmarSenha.errors?.deveCoincidir"
                    class="invalid-feedback"
                  >
                    As senhas devem coincidir
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb">
              <div class="col-sm-3"></div>
              <div class="col-sm-9 mt-2 d-flex justify-content-center">
                <button
                  class="btn btn-success botao"
                  [disabled]="formulario.invalid"
                >
                  Salvar alterações
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
