<div class="card rounded bg-light shadow-sm">
  <form [formGroup]="formulario">
    <!-- <p>Form value: {{ formulario.value | json }}</p>
    <p>Form valid: {{ formulario.status | json }}</p> -->
    <div class="row p-4">
      <div class="col-md-8">
        <div class="col-md" formGroupName="cliente">
          <label class="form-label">Cliente</label>
          <select class="form-select" formControlName="nome">
            <option *ngIf="servico.id != null" value="" disabled>
              {{ servico.cliente.nome }}
            </option>

            <option *ngFor="let item of servicos" [value]="item.cliente.nome">
              {{ item.cliente.nome }}
            </option>
          </select>
        </div>

        <div class="col-md mt-2" formGroupName="profissional">
          <label class="form-label">Profissional</label>
          <select class="form-select" formControlName="nome">
            <option *ngIf="servico.id != null" value="" disabled>
              {{ servico.profissional.nome }}
            </option>

            <option
              *ngFor="let item of servicos"
              [value]="item.profissional.nome"
            >
              {{ item.profissional.nome }}
            </option>
          </select>
        </div>

        <div class="row">
          <div class="col-md mt-2">
            <label class="form-label">Data</label>
            <input
              type="datetime-local"
              class="form-control"
              formControlName="data"
              [ngClass]="{
                'is-invalid': f.data.errors && f.data.touched
              }"
            />
            <div *ngIf="f.data.errors?.required" class="invalid-feedback">
              Data é obrigatório
            </div>
          </div>

          <div class="col-md mt-2">
            <label class="form-label">Valor</label>
            <input
              type="text"
              class="form-control"
              formControlName="valor"
              currencyMask
              [options]="{
                align: 'left',
                prefix: 'R$ ',
                thousands: '.',
                decimal: ','
              }"
            />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-md">
          <label class="my-2">Descrição do serviço</label>
          <textarea
            class="form-control"
            rows="7"
            formControlName="descricao"
            [ngClass]="{
              'is-invalid': f.descricao.errors && f.descricao.touched
            }"
          ></textarea>
          <div *ngIf="f.descricao.errors?.required" class="invalid-feedback">
            Descrição é obrigatório
          </div>
          <div *ngIf="f.descricao.errors?.minlength" class="invalid-feedback">
            Deve ter no mínimo 5 caracteres
          </div>
          <div *ngIf="f.descricao.errors?.maxlength" class="invalid-feedback">
            Deve ter no máximo 100 caracteres
          </div>
        </div>
      </div>
    </div>

    <div class="mt-4 d-flex justify-content-evenly card-footer">
      <button
        type="submit"
        class="btn btn-secondary botao"
        (click)="resetarFormulario()"
      >
        Limpar dados
      </button>
      <button
        type="submit"
        class="btn btn-success botao"
        (click)="salvarAlteracao()"
        [disabled]="formulario.invalid"
      >
        Salvar
      </button>
    </div>
  </form>
</div>
