<div class="card rounded bg-light shadow-sm">
  <form>
    <div class="row p-4">
      <div class="col-md-8">
        <div class="col-md">
          <label class="form-label">Cliente</label>
          <select class="form-select">
            <option selected></option>
            <option>...</option>
            <option>...</option>
          </select>
        </div>
        <div class="col-md mt-2">
          <label class="form-label">Profissional</label>
          <select class="form-select">
            <option selected></option>
            <option>...</option>
          </select>
        </div>

        <div class="row">
          <div class="col-md mt-2">
            <label class="form-label">Data</label>
            <input type="text" class="form-control" />
          </div>

          <div class="col-md mt-2">
            <label class="form-label">Valor</label>
            <input type="text" class="form-control" />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-md">
          <label class="my-2">Descrição do serviço</label>
          <textarea class="form-control" rows="7"></textarea>
        </div>
      </div>
    </div>

    <div class="mt-4 d-flex justify-content-evenly card-footer">
      <button type="submit" class="btn btn-secondary botao">
        Limpar dados
      </button>
      <button type="submit" class="btn btn-success botao">Salvar</button>
    </div>
  </form>
</div>
