<div class="d-flex align-items-center vh-100">
  <div class="mx-auto text-center shadow-sm bg-white rounded p-3 my-3">
    <div class="card-body p-3 text-center">
      <i class="fas fa-user-circle mb-4 iconeLogin"></i>

      <form>
        <div class="input-group mb-3">
          <div class="input-group-text">
            <i class="fas fa-user-alt iconeUsuario"></i>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Usuário"
            onfocus="this.placeholder = ''"
            onblur="this.placeholder ='Usuário'"
          />
        </div>

        <div class="input-group mb-4">
          <div class="input-group-text">
            <i class="fas fa-key iconeSenha"></i>
          </div>
          <input
            type="password"
            class="form-control"
            placeholder="Senha"
            onfocus="this.placeholder = ''"
            onblur="this.placeholder ='Senha'"
          />
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary botaoEntrar">
            Entrar
          </button>
        </div>
        <p class="mt-4 mb-2 text-muted">Não tem registro? Cadastre-se abaixo</p>
        <a
          class="btn btn-lg btn-link btn-block"
          style="text-decoration: none"
          routerLink="/usuario/registrar"
          >Quero me cadastrar</a
        >
      </form>
    </div>
  </div>
</div>

<!-- <div class="d-flex align-items-center">
  <div class="mx-auto text-center shadow-sm bg-white rounded p-5 my-5">
    <form class="form-signin">
      <i class="fa fa-users mb-2"></i>
      <h1 class="h3 mb-3 font-weight-normal">Entrar com</h1>
      <label for="username" class="sr-only">Usuário</label>
      <input
        type="email"
        id="username"
        class="form-control"
        placeholder="Usuário"
        name="username"
        required
      />
      <label for="password" class="sr-only">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        placeholder="Senha"
        name="password"
        required
      />
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Entrar
      </button>
      <p class="mt-4 mb-2 text-muted">Não tem login? Cadastre-se abaixo</p>
      <a class="btn btn-lg btn-link btn-block">Quero me cadastrar</a>
    </form>
  </div>
</div> -->
